asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.1.1
django-ckeditor==6.5.1
django-js-asset==2.0.0
Pillow==9.2.0
sqlparse==0.4.2

# pip installed :-
# django
# Pillow
# django-ckeditor
# command: pip install django Pillow ckeditor (all will be installed in one go)

# os (comes default with python) imported in settings.py due to use of static files

# commands
# django-admin startproject resume_demo
# cd resume_Demo
# django-admin startapp ResumeApp

# created requirements.txt file using commandline (will create file with all requirements automatically):
# pip freeze > requirements.txt